<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
      <p style="color:#b0b4bd">This weather web application that clearly displays meteorological data from around the world and allows you to monitor weather for any place on earth.you can search any location to find accurate weather information which are pressure,temprature,wind speed,humidity and visibility.</p>
    </div>
    
    {{>footer}}
</body>

</html>