<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
     <p style="color:#c0c1c5;">If you have any question or would like me to clarify anything else, please, <a href="mailto:vigneshcse2k2k@gmail.com" style="color: #f7f0f0;">send</a> an email anytime .I am always glad to help in any way i can.</p>
      
    </div>
    
    {{>footer}}
</body>

</html>