body {
    color: #10f1e6;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;

}

.main-content {
    flex-grow: 1;
}

footer {
    color: #d7d8d8;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #ffffff;
    margin-right: 16px;
    text-decoration: none;   
}

.portrait {
    width: 250px;
}


input {
    border: 1px solid #fdf8f8;
    padding: 8px;
    border-radius: 5px;
}
#send-location{
margin:20px 0 0 40px;
background:chartreuse;
color:black;
font-weight: bold;

}


button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #2c6dfc;
    color: white;
    padding: 8px;
    border-radius: 5px;
}